<link rel="stylesheet" href="/alertWidget.css">
<div class="alertWidget" data-post_id = {{post_id}}>
    <div class="AlertWidgetTitle"> {{alert_title}} </div>
    <div class="AlertWidgetAuthor">Author:{{alert_author}}</div>
</div>
