<div class="chat-window"  data-chatRoomID="{{chatRoom.chat_room_id}}">
    <script>
    const socket = window.socket;
    const chatInputForm = document.getElementById('chatForm');
    const messageInput = document.getElementById('messageText');
    const chatRoomID = "{{chatRoom.chat_room_id}}"
    const senderID = "{{senderID}}";
    console.log(senderID);

    function displayMessage(obj){
            const displaySection = document.getElementById('chat-messages-display-section');
            const div = document.createElement('div');
            div.textContent= obj.chat_message;

            if(obj.senderID == senderID){
                div.classList.add('sent');
            }
            else{ div.classList.add('received');}
            displaySection.append(div);

        };

    chatInputForm.addEventListener('submit',(event) => { 
            event.preventDefault();
            const message = messageInput.value;
            if(message === '') return;
            displayMessage({chat_room_id:chatRoomID,chat_message:message,senderID:senderID});
            socket.emit('sendMessage',{chat_room_id:chatRoomID,chat_message:message,senderID:senderID});
            messageInput.value="";
        })

    socket.on('receiveMessage',(obj)=>{
            displayMessage(obj);
        })
    function simplefunction(){
            console.log('simple function');
        }

    </script>

    <div class="title section">
       <button class="back-button" 
            hx-get="/chat"
            hx-swap="innerHTML"
            hx-target=".chat-section">
            <
       </button>
       <div class="chat-room-title">
            <img src="{{chatRoom.chat_room_profile}}" width="40px" height="40px"></img>
            <p>{{chatRoom.chat_room_name}}</p>
       </div>
    </div>
    <div class="chat-messages-display-section" id="chat-messages-display-section">
    </div>
    <div class="chat-room-input-section">
        <form method="post" id="chatForm">
            <input type="text" name="message" id="messageText">
            <input type="submit" value="send">
        </form>
    </div>
</div>
