<div class="chat-window"  data-chatRoomID="{{chatRoom.chat_room_id}}" data-senderID="{{senderID}}">

    <div class="title section">
       <button class="back-button" 
            hx-get="/chat"
            hx-swap="innerHTML"
            hx-target=".chat-section">
            <
       </button>
       <div class="chat-room-title">
            <img src="{{chatRoom.chat_room_profile}}" width="40px" height="40px"></img>
            <p>{{chatRoom.chat_room_name}}</p>
       </div>
    </div>
    <div class="chat-messages-display-section" id="chat-messages-display-section">
    </div>
    <div class="chat-room-input-section">
        <form method="post" id="chatForm">
            <input type="text" name="message" id="messageText">
            <input type="submit" value="send">
        </form>
    </div>
</div>
