<link rel="stylesheet" href="/cityPage.css">
<div class="page-content">
    <h1>{{city.city_name}}</h1>
    <button 
        hx-post="/user/joinedCities" 
        hx-swap="none"
        hx-vals='{
                "city_id" : "{{city.city_id}}"
                }'>
            Join 
    </button>       
 
    
    <div class="create-trail">
                
    <form method="POST" action="/city/{{city.city_name}}/trails" enctype="multipart/form-data" >
    <input type ="hidden" name="city_id" value="{{city.city_id}}" 
    <label>Title</label>
    <input type="text" name="postTitle">
    <lable>Trail Type :</label>
    <select name="trailType" id="trail-type-dropdown" placeholder="Select Type">
        {{#trailTypes}}
                <option value={{type}}>{{type}}</option>       
        {{/trailTypes}}
    </select>
    <label>Content</label>
    <input type="text" name="content">
    <input type="file" id="trail-images" name="trailImages" multiple>
    <input type="submit">
    </form>
    </div>
    <div class="container">
        <div class="trailwall">
            <h1> TRAIL WALL</h1>
            <div class="trails_section">
                {{#trails}}
                    {{>postTemplate}}
                {{/trails}}
            </div>
        </div>

        <div class = "Alerts">
            {{#alerts}}
                {{>alertWidget}}
            {{/alerts}}
        </div>
    </div>
</div>
