

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sole-City</title>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page-content">
    <h1>{{city.city_name}}</h1>
    <button 
        hx-post="/user/joinedCities" 
        hx-swap="none"
        hx-vals='{
                "city_id" : "{{city.city_id}}"
                }'>
            Join 
    </button>       
 
    
    <div class="create-trail">
                
    <form method="POST" action="/city/{{city.city_name}}/trails" enctype="multipart/form-data" >
    <input type ="hidden" name="city_id" value="{{city.city_id}}" 
    <label>Title</label>
    <input type="text" name="postTitle">
    <label>Content</label>
    <input type="text" name="content">
    <input type="file" id="trail-images" name="trailImages" multiple>
    <input type="submit">
    </form>
    </div>

    </div>
</body>
</html>


