        
    <form method="POST" action="/city/{{city_name}}/trails" enctype="multipart/form-data" >
    <label>Title</label>
    <input type="text" name="postTitle">
    <label>Content</label>
    <input type="text" name="content">
    <input type="file" id="trail-images" name="trailImages" multiple>
    <input type="submit">
    </form>
