
<header class="header">
    <div class="header-content">
        <div class="logo">
            <h1>{{title}}</h1>
        </div>
        <div class="spacer"></div>
        <div class="user-name">
            <h4>Welcome {{user.user_display_name}}</h4>
        </div>
    </div>
</header>

