<link rel="stylesheet href="./header.css">
<header class="header">
    <div class="header-content">
        <div class="logo">
            <h1>{{headerData.title}}</h1>
        </div>
        <div class="spacer"></div>
        <div class="user-name">
            <h4>Welcome {{headerData.user.user_display_name}}</h4>
            <a  href="user/profile">Profile</a>
        </div>
    </div>
</header>

