
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sole-City</title>
    <link rel="stylesheet" href="/output.css">
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page flex-vertical items-center justify-center">
    <div class="login-form  w-full h-full mt-20 flex justify-center">
        <form action="/login" method="post" class="w-2/4">

            <label> Email</label> <br>
            <input type="text" class="m-2 h-10 bg-background w-full rounded-lg border-2 border-primary " name="email"><br>
            <label> Password</label> <br>
            <input type="text" class="m-2 h-10 bg-background-secondary w-full rounded-lg border-2 border-primary " name="password"><br>
            <div class="flex justify-end mt-6"> 
            <input type='submit' value='Login' class="bg-primary h-12 w-20 ">
            </div>
        </form>
    </div>
    <div class="flex w-full justify-center">
       <div class="flex-col"> 
        <p> Don't Have an Account ?? </p>

	    <button class="bg-primary h-12 w-20 ml-12 mt-5"> 
		<a href="/register" style="text-decoration: none; color:inherit">Register</a>
	    </button>
        </div>
    </div>  
    </div>
</body>
</html>



