
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sole-City</title>
</head>
<body>
    <div>
        <form action="/login" method="post">

            <label> Email</label> 
            <input type="text" name="email"><br>
            <label> Password</label> 
      let result = await db.query(`SELECT * FROM ${db.postsTable}`);               <input type="text" name="password"><br>
            
            <input type='submit' value='Login'>
        </form>
    </div>  
</body>
</html>



