<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sole-City</title>
    <link rel="stylesheet" href="/login.css">
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page">
        <div class="login-container">
            <form action="/login" method="post" class="login-form">
                <h2 class="form-title">Login</h2>

                <label>Email</label>
                <input type="text" class="input-field" name="email">

                <label>Password</label>
                <input type="password" class="input-field" name="password">

                <div class="form-actions"> 
                    <input type="submit" value="Login" class="btn-primary">
                </div>
            </form>
        </div>

        <div class="register-section">
            <p>Don't Have an Account?</p>
            <button class="btn-secondary">
                <a href="/register" class="link">Register</a>
            </button>
        </div>
    </div>
</body>
</html>


