<div>
    <form action='/register' method="post">
        <label>Enter Your Email</label><input type="text", name="email"><br>
        <label>Enter Your First Name</label><input type="text", name="first_name"><br>
        <label>Enter Your Last Name</label><input type="text" , name="last_name"><br>
        <label>Enter Your Display Name</label><input type="text", name="display_name"><br>
        <label>Enter Your password</label><input type="text", name="password"><br>

        <input type='submit'>
    </form>
</div>
