header{
    margin:0px;
    border-bottom: 2px solid #ff9800;

}
.header-content{
    display:flex;
    justify-content:space-between;
    padding:8px;
}

.user-profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.user-profile a {
    text-decoration: none;
}
.user-profile img{
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ff9800;
    background: #ffeccc;
    box-shadow: 0 2px 24px rgba(255,165,0,0.10);
}


